@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.info_entire{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.info_entire{
    margin: 4em;
}

.info_main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4em;
    margin-bottom: 6em;
}
.info_card{
    text-align: center;
    border: 2px solid #fb7d7d;
    box-shadow: 0 0 5px #FF1818;
    margin: 1em;
    padding: 2em;
    border-radius: 1em;
    height: 100%;
}

.info_left iframe{
    border: 2px solid #fb7d7d;
    box-shadow: 0 0 5px #FF1818;
    max-width: 90%;
}
.info_right{
    margin-left: 1em;
}

.info_heading_section{
    color: #fb7d7d;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    font: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
}

.info_h1{
    color: #fff;
    font-size: 2.2em;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.25em;
    padding-bottom: 1em;
    padding-top: 0.4em;
    margin-bottom: 1em;
    border-bottom: 2px solid #fb7d7d;
}

.info_h4{
    font-weight: 700;
    color: #fb7d7d;
    font-size: 0.7em;
    text-shadow: 0 0 10px #FF1818;
}
.info_paragraph{
    border-radius: 0.4em;
    height: 100%;
}
.info_p_highlight{
    margin-top: 1.5em;
    text-align: left;
    color: #fb7d7d;
    text-shadow: 0 0 2px #FF1818;
    font-size: 0.7em;
    font-weight: 700;
}

.info_p{
    color: #fff;
}

@media screen and (max-width: 768px) {
    .info_entire{
        margin: 1.5em;
    }
    .info_left iframe{
        border: 2px solid #fb7d7d;
        box-shadow: 0 0 5px #FF1818;
        max-width: 100%;
        height: 250px;
    }

    .info_main {
        grid-template-columns: 1fr;
    }
    .info_right {
        margin-right: 0em;
        margin-left: 0;
        max-width: 450px;
        text-align: center;
    }
    .info_left {
        margin-bottom: 6em;
        margin-left: 0;
    }
    .info_p{
        font-size: 0.8em;
        width: 100%;
    }

    /* Adjusting heading and text sizes */
    .info_heading_section {
        font-size: 1.2em;
    }
    .info_h1 {
        font-size: 1.8em;
    }
    .info_h4 {
        font-size: 0.6em;
    }
    .info_p_highlight {
        font-size: 0.6em;
    }
    .info_card{
        text-align: center;
        border: 2px solid #fb7d7d;
        box-shadow: 0 0 5px #FF1818;
        margin: 1em;
        padding: 2em;
        border-radius: 1em;
        height: 100%;
    }

}

@media screen and (max-width: 480px) {
    .info_left iframe{
        border: 2px solid #fb7d7d;
        box-shadow: 0 0 5px #FF1818;
        max-width: 100%;
        height: auto;
    }
    .info_heading_section {
        font-size: 1em;
    }
    .info_h1 {
        font-size: 1.5em;
    }
    .info_h4 {
        font-size: 0.5em;
    }
    .info_p_highlight {
        font-size: 0.5em;
    }
}