@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

button{
    background: none;
    border: none;
    font-family: 'Montserat', sans-serif;
    color: white;
}
.hamburger{
    position: fixed;
    max-width: 20px;
    max-height: 20px;
}
.sidebar {
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 0 0.25px #000;
    background-color: rgba(0, 0, 0, 0.931);
    text-align: center;
    align-items: center;
    transition: 200ms all ease-in-out;
}
.sidebar.visible {
    visibility: visible;
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 0 0.25px #000;
    background-color: rgba(0, 0, 0, 0.931);
    text-align: center;
    align-items: center;
    transition: 200ms all ease-in-out;
}

.sidebarUnorderedList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sidebarList {
    margin-bottom: 1.5em; 
}

.sidebarLink {
    padding: 0.5em 2em;  
    border-bottom: 3px solid #f9f9f9;  
    text-decoration: none;
    color: #f9f9f9;
    display: inline-block;
    width: 200px;  
    text-align: center;
    transition: 200ms all ease-in-out;
    line-height: 1.5em;  
}

.sidebarLink:hover {
    background-color: #f9f9f9;
    color: black;
}

.sidebarList_contact{
    padding: 0.5em 2em;
    border: 3px solid #f9f9f9;  
    text-decoration: none;
    color: #f9f9f9;
    display: inline-block;
    width: 200px;  
    text-align: center;
    transition: 200ms all ease-in-out;
    cursor: pointer;
    line-height: 1.5em;  
}

.sidebarList_contact:hover {
    background-color: white;
    color: black;
}
