@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#home,
#introduction,
#Learn,
#footer
#Contact {
    margin: 0;
}

*{
    margin:0;
}

html{
    scroll-behavior:smooth;
}

#home {
    height: 650px;
    background-image: url(../images/mainbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 10px;
    border-style: solid;
    border-image-slice: fill 1;
    border-image-source: linear-gradient(#090612 0.5%,#0906128d, #09061268,#090612cc);
    border-radius: 5rem;
    position: relative;
    justify-content: center;
}

#introduction {
    padding-top: 9em;
    padding-bottom: 12em;
    height: 100%;
}

#Learn {
    background-color: #090612;
    height: 100vh;
}

#footer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    width: 95%;
    background: #10182F;
    border-radius: 6px;
}

@media screen and (max-width: 770px){
    #introduction{
        padding-bottom: 40%;
        padding-top: 2em;
    }
    #Learn{
        padding-top: 40%;
    }
}
@media screen and (max-width: 440px){
    #introduction{
        padding-bottom: 0%;
    }
    #Learn{
        padding-top: 0%;
    }
}